body {
    background: #cfcece;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #58745b;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 2em;
}

.service {
    margin-bottom: 1.5em;

    background-color: #bbbbbb;
    border-left: 5px solid #4caa4c;
    padding: 1em 1.5em;
    border-radius: 8px;
}
footer {
    background: #58745b;
    color: #fff;
    text-align: center;
    padding: 1.2em;
    margin-top: 15%;
}

form {
    max-width: 400px;
    margin-left: 0;
    margin-top: 2%;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #1ab675;
    box-shadow: 0 0 5px ;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.6rem;
}

button {
    background: #58745b;
    color: #fff;
    font-size: 14px;
    border: 1.5px solid srgba(255, 255, 255, 0.9);
    padding: 0.8em 1.5em;
    cursor: pointer;
    border-radius: 18px;
}
button:hover {
    background-color: #359242;
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.9);
    color: rgb(233, 233, 233);
    transform: translateY(-3px);
    border-color: #ffffff;
}

@media (max-width:600px) {
    body {
        font-size: 16px;
    }
    nav a {
        display: block;
        margin: 5em 0;
    }
}
